.Text {
  color: white;
  font-weight: bold;
  padding-left: 1rem;
}

.Temp {
  display: block;
  font-weight: bold;
}

.Weather {
  display: block;
  font-weight: bold;
}

.Actions {
  text-align: center;
}
