.Invalid {
  border: 1px solid red !important;
  color: red;
}

.InvalidText {
  color: red;
}

:global {
  .ant-select-auto-complete {
    border-radius: 0.3rem;
  }

  .react-dropdown-select {
    border-radius: 0.5rem;
  }
}

.control-label {
  display: block;
}
