:global {
  .ant-fullcalendar-fullscreen {
    width: 100%;
    max-width: 76.8rem;
    margin: auto;
    margin-top: 2.5rem;
  }

  .events {
    list-style: none;
    padding-left: 0;
  }

  .ant-fullcalendar-content {
    overflow-x: hidden;
  }

  .ant-fullcalendar-calendar-body {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-fullcalendar-cell {
    .ant-badge {
      width: 49%;
    }
    .ant-badge-status-dot {
      top: -5px;
    }
    .ant-badge-status-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }

    .ant-tag {
      display: inline-block;
      width: 40%;
      position: relative;
      top: -5px;
    }
  }
}
