.calendar {
  width: 100%;
  max-width: 50rem;
  color: red;
  margin: auto;

  :global {
    .react-calendar__navigation {
      margin-bottom: 0;
    }
    .react-calendar__month-view__weekdays {
      background: dodgerblue;
      color: white;
      margin-bottom: 1rem;

      abbr {
        text-decoration: none;
      }
    }
    .react-calendar__tile {
      position: relative;
      width: 10rem;
      height: 5rem;

      abbr {
        position: absolute;
        top: 0;
        left: 0.5rem;
        text-align: right;
        display: left;
      }
    }
  }
}
