:global {
  .ant-fullcalendar-fullscreen {
    width: 100%;
    max-width: 76.8rem;
    margin: auto;
    margin-top: 2.5rem;
  }

  .events {
    list-style: none;
    padding-left: 0;
  }

  .ant-fullcalendar-date {
    @media only screen and (max-width: 767px) {
      padding: 0;
      margin: 0;
    }
  }

  .ant-fullcalendar-content {
    overflow-x: hidden;
  }

  .ant-fullcalendar-calendar-body {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-fullcalendar-cell {
    .ant-badge {
      width: 49%;
    }
    .ant-badge-status-dot {
      top: -5px;
    }
  }
}

.Reminder {
  color: white;
  border-radius: 0.3rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

.ReminderTitle {
  display: inline-block;
  white-space: nowrap;
  width: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;

  @media only screen and (min-width: 765px) {
    width: 5rem;
  }
}

.Time {
  position: relative;
  bottom: 0.25rem;
  padding-left: 0.5rem;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}
